<h3>Member Detail Component</h3>

<span>Você esta editando</span>: {{selectedMember.name}} - {{selectedMember.surname}}

<span class="image left">
    <img src="{{selectedMember.photo}}" alt="Foto de {{selectedMember.name}}">
</span>


<input type="text" [(ngModel)]="selectedMember.id" readonly><br>
<input type="text" [(ngModel)]="selectedMember.name"><br>
<input type="text" [(ngModel)]="selectedMember.surname"><br>
<input type="text" [(ngModel)]="selectedMember.phone"><br>
<button (click)="update()" class="button">Update Member</button>
<button (click)="delete()" class="button">Delete Member</button>

<button (click)="newMember()" class="button primary">Novo</button>
